{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="blog-post">
            <a href="/p/{{ post.slug }}">
                <h2 class="blog-post-title">
                    {{ post.title }}
                </h2>
            </a>
            <p class="blog-post-meta">
                <small>{{ post.updated }}</small>
            </p>
            <p>{{ post.content|linebreaks | truncatechars:500 }} </p><br>
            <a href="/p/{{ post.slug }}"><i class="btn btn-default pull-right">Read more ...</i></a>
            {% for tag in post.tag.all %}
                    <a href="/t/{{ tag|lower }}">
                        <span class="label label-default">{{ tag | lower}}</span>
                    </a>
            {% endfor %}
            <hr>
        </div>
    {% endfor %}
    <nav>
        <ul class="pager">
            {% if  posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block scripts %}{% endblock %}

